.header{
    overflow: hidden;
    background-color: rgb(201, 166, 123);
    padding: 0px;
}

body{
    background-image: url(/home/rahulvig/Desktop/CBC/Basic-Portfolio/assets/images/dark-paths.png);
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.name-card{
    width: 10%;
    float: left;
    background-color: rgb(14, 2, 90);
    color: aliceblue;
    text-align: center;
    margin: 0px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    margin-left: 15%;
}

.nav-bar{
    margin-top: 30px;
    width: 70%;
    float: right;
    text-align: center;
    position: relative;
    left: 80px;
    font-weight: bolder;
}

.nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar li {
    display: inline;
    font-size: 23px;
}

.nav-bar li a{
    color: black;
    padding: 10px;
    text-decoration: none;
}

